@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: tomato;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  background: #E0E0E0;
  /*background: linear-gradient(to right, #141e30, #243b55);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--secondary);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.icon {
  width: 40%;
  height: 40%;
}
.home-icon{
  max-width: 100%;
  height: 30%;
}
.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* upload form styles */
form {
  margin: 30px auto 10px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover {
  background: var(--primary);
  color: white;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop img {
  display: block;
  max-width: 70%;
  max-height: 80%;
  /*margin: auto auto;*/
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

@media screen and (max-width: 768px) {
  .backdrop img {
    max-width: 100%;
    max-height: 90%;
  }
  .img-grid {
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
  }
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-icon{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
}

.flex-center{
  margin-top: 45px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInDiv2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.signInDiv2 a {
  /*width: 100%;*/
  width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
.signInDiv2 a.white:hover > p {
  color: #ece8e1;
}
.signInDiv2 a.white > p {
  background: #ece8e1;
  color: #0f1923;
}
.signInDiv2 a.white > p span.base {
  border: 1px solid transparent;
}
.signInDiv2 a.transparent:hover > p {
  color: #ece8e1;
}
.signInDiv2 a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
.signInDiv2 a.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
.signInDiv2 a.transparent > p span.base {
  border: 1px solid #ece8e1;
}
.signInDiv2 a:after, .signInDiv a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.signInDiv2 a:before {
  right: 0;
  left: initial;
}
.signInDiv2 a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.signInDiv2 a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #ff4655;
}
.signInDiv2 a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
.signInDiv2 a p span.bg {
  left: -5%;
  position: absolute;
  background: #ff4655;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.signInDiv2 a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.signInDiv2 a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.signInDiv2 a:hover {
  color: #ece8e1;
  cursor: pointer;
}
.signInDiv2 a:hover span.bg {
  width: 110%;
}
.signInDiv2 a:hover span.text:after {
  background: #ece8e1;
}

.signInDiv {
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.signInDiv a {
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
.signInDiv a.white:hover > p {
  color: #ece8e1;
}
.signInDiv a.white > p {
  background: #ece8e1;
  color: #0f1923;
}
.signInDiv a.white > p span.base {
  border: 1px solid transparent;
}
.signInDiv a.transparent:hover > p {
  color: #ece8e1;
}
.signInDiv a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
.signInDiv a.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
.signInDiv a.transparent > p span.base {
  border: 1px solid #ece8e1;
}
.signInDiv a:after, signInDiv a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.signInDiv a:before {
  right: 0;
  left: initial;
}
.signInDiv a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.signInDiv a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #ff4655;
}
.signInDiv a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
.signInDiv a p span.bg {
  left: -5%;
  position: absolute;
  background: #ff4655;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.signInDiv a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.signInDiv a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.signInDiv a:hover {
  color: #ece8e1;
  cursor: pointer;
  
}
.signInDiv a:hover span.bg {
  width: 110%;
}
.signInDiv a:hover span.text:after {
  background: #ece8e1;
}